.logo
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  img
    margin-right: $gutter
    padding: 20px 0
  span
    text-transform: uppercase
.header
  color: #fff 
  // min-height: 165px
  background: url('../img/bg-header.png')
  &__phone
    font-size: 20px
    margin-right: $gutter/2
    margin-top: auto
    span
      font-size: 18px
.menu
  ul
    font-size: 18px
    line-height: 14px
    list-style: none
    display: flex
    flex-wrap: wrap 
    & li
      display: flex
      flex: 1
      &.active
        a
          color: #740411 
          background: #c7c7c7
      & a
        display: block
        padding: 24px 20px
        color: #434343
        text-decoration: none
        text-transform: uppercase
        background: #e5e5e5
        width: 100%
        text-align: center          
        border-left: 1px solid #c6c6c6
        &:hover
          color: black
          background: #fff
      .search
        width: 100%
        position: relative
        &.is-active
          & input
            width: 250px
            left: -250px   
          & > button
            display: none
        +breakpoint('tablet') 
         
        & input
          position: absolute
          top: 0
          bottom: 0
          left: 0
          width: 0
          z-index: 1
          font-size: 18px
          line-height: 14px
          padding: 0 20px
          transition: all 0.4s ease
        &  button
          display: block
          background: #c6c6c6 
          font-size: 30px
          padding: 16px
          color: #fff
          border: none
          z-index: 1
          width: 100%
          outline: none
        & > button
          position: absolute
          right: 0
          top: 0
          z-index: 2
      
