.footer
  .wrapper
    .space-between
      .placeholder-small(style="max-width: 570px; width: 100%").m-b-20
      .placeholder-small(style="max-width: 270px; width: 100%").m-b-20

script(src= '/js/src.js')